In [2]:
import pandas as pd

In [4]:
s = pd.Series([1116,12259, 65119, 16699], index = ['서울','부산','인천','대구'])
s

서울     1116
부산    12259
인천    65119
대구    16699
dtype: int64

In [5]:
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [8]:
# value가 아니고 values로 호출해야함
# 다루고 있는 데이터의 type을 잘 알아둬야함
s.values

array([ 1116, 12259, 65119, 16699], dtype=int64)

In [10]:
s.name = '농작물 생산량(톤)'
s

서울     1116
부산    12259
인천    65119
대구    16699
Name: 농작물 생산량(톤), dtype: int64

In [11]:
s.index.name = '지역'

In [12]:
s

지역
서울     1116
부산    12259
인천    65119
대구    16699
Name: 농작물 생산량(톤), dtype: int64

In [14]:
s1 = s/1000

In [15]:
s1.name = '농작물 생산량(k톤)'

In [16]:
s1

지역
서울     1.116
부산    12.259
인천    65.119
대구    16.699
Name: 농작물 생산량(k톤), dtype: float64

In [18]:
(s/4456952*100).round(2)

지역
서울    0.03
부산    0.28
인천    1.46
대구    0.37
Name: 농작물 생산량(톤), dtype: float64

In [19]:
s

지역
서울     1116
부산    12259
인천    65119
대구    16699
Name: 농작물 생산량(톤), dtype: int64

In [22]:
# index 접근
s[0],s['서울']

(1116, 1116)

In [23]:
s[[0,1]]

지역
서울     1116
부산    12259
Name: 농작물 생산량(톤), dtype: int64

In [24]:
s[[1,0]]

지역
부산    12259
서울     1116
Name: 농작물 생산량(톤), dtype: int64

In [25]:
s[['부산','서울']]

지역
부산    12259
서울     1116
Name: 농작물 생산량(톤), dtype: int64

In [26]:
# 조건 걸고 가져오기
s[s>10000]

지역
부산    12259
인천    65119
대구    16699
Name: 농작물 생산량(톤), dtype: int64

In [30]:
s[(s>10000) & (s<20000)]

지역
부산    12259
대구    16699
Name: 농작물 생산량(톤), dtype: int64

In [32]:
# 내부에 연산, 조건 등을 넣어서 원하는 데이터를 가져오기
s[(s/4456952*100) > 0.5]

지역
인천    65119
Name: 농작물 생산량(톤), dtype: int64

In [35]:
# value면 뒷부분이 미만으로 처리
s[1:3]

지역
부산    12259
인천    65119
Name: 농작물 생산량(톤), dtype: int64

In [36]:
# key면 뒷부분이 포함되어 처리
s['서울':'대구']

지역
서울     1116
부산    12259
인천    65119
대구    16699
Name: 농작물 생산량(톤), dtype: int64

In [37]:
# index가 다른 경우에는 연산 시에 에러를 뱉어냄
# s1 = s1.rename({'서울':'제주도'})

In [38]:
s.서울

1116

In [45]:
d1 = {'서울':1, '부산':2}
pd.Series(d1)

서울    1
부산    2
dtype: int64

In [40]:
for k,v in s.items():
    print(k,v)

서울 1116
부산 12259
인천 65119
대구 16699

In [41]:
'서울' in s.keys()

True

In [42]:
'서울' in s

True

In [43]:
'제주도' in s.keys()

False

In [46]:
# index 기반 연산
s21 = pd.Series([1116,12259, 65119, 16699], index = ['서울','부산','인천','대구'])
s20 = pd.Series([628,11075,56013,15695], index=['서울','부산','인천','대구'])

In [51]:
# index가 같을 때에만 연산됨. index가 같지 않을 경우 NaN이 나옴
print(s21 - s20)

서울     488
부산    1184
인천    9106
대구    1004
dtype: int64

In [49]:
import numpy as np
type(np.nan)

float

In [50]:
!python --version

Python 3.9.12

In [81]:
s20 = pd.Series([628,11075,56013,15695], index=['제주도','부산','인천','대구'])
s_sub = s21 - s20
s_sub

대구     1004.0
부산     1184.0
서울        NaN
인천     9106.0
제주도       NaN
dtype: float64

In [82]:
# NaN 값을 0으로 대체한 후 연산해줌
s21.sub(s20, fill_value=0)

대구     1004.0
부산     1184.0
서울     1116.0
인천     9106.0
제주도    -628.0
dtype: float64

In [83]:
s_sub2 = s21.sub(s20)

In [84]:
s_sub2

대구     1004.0
부산     1184.0
서울        NaN
인천     9106.0
제주도       NaN
dtype: float64

In [85]:
s_sub2.notnull()

대구      True
부산      True
서울     False
인천      True
제주도    False
dtype: bool

In [86]:
s_sub2.fillna(0)

대구     1004.0
부산     1184.0
서울        0.0
인천     9106.0
제주도       0.0
dtype: float64

In [87]:
s20 = pd.Series([628,11075,56013,15695], index=['서울','부산','인천','대구'])
print(s20,s21)

서울      628
부산    11075
인천    56013
대구    15695
dtype: int64 서울     1116
부산    12259
인천    65119
대구    16699
dtype: int64

In [88]:
rs = ((s21-s20) / s20 * 100).round(2)
rs

서울    77.71
부산    10.69
인천    16.26
대구     6.40
dtype: float64

In [89]:
rs['서울']

77.71

In [90]:
rs['서울'] = 0
rs[0]=123
rs

서울    123.00
부산     10.69
인천     16.26
대구      6.40
dtype: float64

In [91]:
del rs['대구']
rs

서울    123.00
부산     10.69
인천     16.26
dtype: float64

In [92]:
del rs['서울']
rs

부산    10.69
인천    16.26
dtype: float64

In [93]:
rs['서울'] = 77.71
rs

부산    10.69
인천    16.26
서울    77.71
dtype: float64

In [94]:
rs['대구'] = 6.40
rs

부산    10.69
인천    16.26
서울    77.71
대구     6.40
dtype: float64

In [95]:
import random

In [108]:
key100 = random.sample(list(range(120)),100)
# pd.Series() 크기가 100
# 키값 100개, 밸류값 100개

key80 = random.sample(list(range(120)),80)
value100 = random.sample(list(range(120)),100)
value80 = random.sample(list(range(120)),80)

s100 = pd.Series(value100, index=key100)
s80 = pd.Series(value80, index=key80)

In [109]:
s_100_80_sub = (s100-s80)

In [110]:
for k,v in s_100_80_sub.notnull().items():
    if v:
        print(k,v)

0 True
1 True
2 True
4 True
6 True
8 True
9 True
11 True
16 True
19 True
21 True
22 True
23 True
24 True
26 True
27 True
28 True
29 True
30 True
32 True
33 True
34 True
35 True
37 True
39 True
41 True
42 True
43 True
44 True
45 True
46 True
53 True
54 True
55 True
56 True
58 True
59 True
64 True
65 True
66 True
67 True
69 True
71 True
75 True
76 True
77 True
78 True
79 True
84 True
85 True
86 True
87 True
88 True
93 True
94 True
100 True
101 True
102 True
103 True
105 True
106 True
109 True
111 True
113 True
116 True
117 True
119 True

In [111]:
print(len(set(key80)),len(set(key100)))

80 100

In [112]:
s_100_80_sub[33]

-40.0

In [113]:
s100[33]

17

In [114]:
s80[33]

57

In [115]:
s100[0],s80[0]

(81, 78)

In [116]:
s_100_80_mul = s100.sub(s80,fill_value=0)
s_100_80_mul.head()

0     3.0
1   -44.0
2   -37.0
3   -70.0
4    -4.0
dtype: float64

In [118]:
s_100_80_mul = s100.sub(s80)
s_100_80_mul.fillna(0)

0       3.0
1     -44.0
2     -37.0
3       0.0
4      -4.0
       ...
115     0.0
116    11.0
117    65.0
118     0.0
119    73.0
Length: 113, dtype: float64